[project]
	description = AJP client code extracted from Tomcat
[access "refs/*"]
	owner = group user/Kohsuke Kawaguchi (kohsuke)
[access "refs/for/refs/*"]
	read = group user/Kohsuke Kawaguchi (kohsuke)
	push = group user/Kohsuke Kawaguchi (kohsuke)
	label-Code-Review = -2..+2 group user/Kohsuke Kawaguchi (kohsuke)
	label-Verified = -1..+1 group user/Kohsuke Kawaguchi (kohsuke)
	rebase = group user/Kohsuke Kawaguchi (kohsuke)
	removeReviewer = group user/Kohsuke Kawaguchi (kohsuke)
	submit = group user/Kohsuke Kawaguchi (kohsuke)
[access "refs/heads/*"]
	read = group user/Kohsuke Kawaguchi (kohsuke)
	create = group user/Kohsuke Kawaguchi (kohsuke)
	push = +force group user/Kohsuke Kawaguchi (kohsuke)
	pushMerge = group user/Kohsuke Kawaguchi (kohsuke)
[access "refs/tags/*"]
	push = +force group user/Kohsuke Kawaguchi (kohsuke)
	pushTag = group user/Kohsuke Kawaguchi (kohsuke)
	pushSignedTag = group user/Kohsuke Kawaguchi (kohsuke)
